.phoneBackButton {
  background-color: white;
  border: 2px solid #ffa500; /* Green */
  border-radius: 8px;
  color: #ff4500;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  float: left;
  /* margin-left: 400px; */
}

.phoneNextButton {
  background-color: white;
  border: 2px solid #ffa500; /* Green */
  border-radius: 8px;
  color: #ff4500;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  float: right;
  /* margin-right: 400px; */
}

.textCenter {
  text-align: center;
}
